<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmnT8NYW69mQQgyIcEAs9trm8Qgbd0qlI</string>
	<key>GCM_SENDER_ID</key>
	<string>732082109116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.modie</string>
	<key>PROJECT_ID</key>
	<string>modie-936dc</string>
	<key>STORAGE_BUCKET</key>
	<string>modie-936dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732082109116:ios:458ea9ef24abd4089aeeb9</string>
</dict>
</plist>